<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coder.commonBase.dao.ToDoDao">

  <select id="selectList" resultMap="todo" parameterType="map">
    select id,info,status,add_time,deadline,owner,finish_time from todo
    <where>
        <if test="status!=null">
          and status = #{status}
        </if>
        <if test="status==null">
          and status <![CDATA[>]]> 0
        </if>
        <if test="startTime1!=null">
          and add_time <![CDATA[>]]> #{startTime1}
        </if>
        <if test="endTime1!=null">
          and add_time <![CDATA[<]]> #{endTime1}
        </if>
        <if test="startTime!=null">
          and deadline <![CDATA[>]]> #{startTime}
        </if>
        <if test="endTime!=null">
          and deadline <![CDATA[<]]> #{endTime}
        </if>
        <choose>
          <when test="owner != null and owner != 'Coder1'">
            and owner = #{owner}
          </when>
          <when test="owner=='Coder1' or owner == null">
            and owner = 'Coder1'
          </when>
        </choose>
    </where>
    <choose>
      <when test="order == null">
        order by deadline
      </when>
      <when test="order == deadline">
        order by deadline
      </when>
      <when test="order == 'addTime'">
        order by add_time desc
      </when>
      <otherwise>
        order by finish_time desc
      </otherwise>
    </choose>
  </select>

  <select id="selectCount" resultType="int" parameterType="map">
    select count(*) from todo
    <where>
      <if test="status==null">
        and status = 0
      </if>
      <if test="status!=null">
        and status = #{status}
      </if>
      <if test="startTime1!=null">
        and add_time <![CDATA[>]]> #{startTime1}
      </if>
      <if test="endTime1!=null">
        and add_time <![CDATA[<]]> #{endTime1}
      </if>
      <if test="startTime!=null">
        and deadline <![CDATA[>]]> #{startTime}
      </if>
      <if test="endTime!=null">
        and deadline <![CDATA[<]]> #{endTime}
      </if>
      <if test="owner != 'Coder1' and owner !=null">
        and owner = #{owner}
      </if>
      <if test="owner=='Coder1' or owner == null">
        and owner = 'Coder1'
      </if>
    </where>
  </select>
</mapper>
