<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coder.commonBase.dao.VisitDao">
    <sql id="column_list">
        id, ip,userAgent, city,url,browserType,platformType, time,sessionId
    </sql>
    <select id="findVisitTimes" parameterType="Visit"
            resultType="Long">
        SELECT COUNT(*) from visit
        <where>
            <if test="ip!=null and ip!=''">
                and ip =#{ip}
            </if>
            <if test="userAgent!=null and userAgent!=''">
                and userAgent =#{userAgent}
            </if>
            <if test="url!=null and url!=''">
                and url =#{url}
            </if>
            <if test="browserType!=null and browserType!=''">
                and browserType =#{browserType}
            </if>
            <if test="platformType!=null and platformType!=''">
                and platformType =#{platformType}
            </if>

            <if test="time!=null ">
                and TO_DAYS(DATE_FORMAT(time,'%Y-%m-%d')) = TO_DAYS(#{time})
                <!-- and TO_DAYS(DATE_FORMAT(time,'%Y-%m-%d')) = TO_DAYS(#{time}) -->
            </if>
            <if test="sessionId != null">
                and sessionId = #{sessionId}
            </if>
        </where>
    </select>

    <select id="selectLikeVisitListByPage" parameterType="Map">
        select
        <include refid="column_list" />
        from visit
        <where>
            <if test="ip!=null and ip!=''">
                and (ip like CONCAT(CONCAT('%', #{ip}), '%') or city like
                CONCAT(CONCAT('%', #{city}), '%') or platformType like
                CONCAT(CONCAT('%', #{platformType}), '%') or browserType like
                CONCAT(CONCAT('%', #{browserType}), '%'))
            </if>
            <if test="startTime!=null and startTime!=''">
                and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY time DESC
    </select>

    <select id="selectLikeVisitListGroupByIp" parameterType="Map"
            resultType="map">
        select id,ip,city ,browserType ,platformType,COUNT(*) AS count from visit
        <where>
            <if test="ip!=null and ip!=''">
                and (ip like CONCAT(CONCAT('%', #{ip}), '%') or city like
                CONCAT(CONCAT('%', #{city}), '%') or platformType like
                CONCAT(CONCAT('%', #{platformType}), '%') or browserType like
                CONCAT(CONCAT('%', #{browserType}), '%'))
            </if>
            <if test="startTime!=null and startTime!=''">
                and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        GROUP BY ip,userAgent
        ORDER BY count desc
    </select>

    <select id="selectVisitListByDate" resultType="map"
            parameterType="Map">
        SELECT time, COUNT(*) AS count FROM visit
        <where>
            <if test="startTime!=null and startTime!='' and format=='day'">
                and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="startTime!=null and startTime!='' and format=='month'">
                and DATE_FORMAT(time,'%Y-%m') BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="startTime!=null and startTime!='' and format=='year'">
                and DATE_FORMAT(time,'%Y') BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        <if test="format=='day'">
            GROUP BY DATE_FORMAT(time,'%Y-%m-%d')
        </if>
        <if test="format=='month'">
            GROUP BY DATE_FORMAT(time,'%Y-%m')
        </if>
        <if test="format=='year'">
            GROUP BY DATE_FORMAT(time,'%Y')
        </if>se
    </select>

    <select id="selectCountByCondition" parameterType="Map" resultType="int">
      select count(*) from visit
      <where>
        <if test="startTime!=null">
          and time <![CDATA[>]]> #{startTime}
        </if>
        <if test="endTime!=null">
          and time <![CDATA[<]]> #{endTime}
        </if>
        <if test="ip!=null">
          and ip = #{ip}
        </if>
      </where>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="Visit">
        update visit
        <set>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="userAgent != null">
                userAgent = #{userAgent,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="browserType != null">
                browserType = #{browserType,jdbcType=VARCHAR},
            </if>
            <if test="platformType != null">
                platformType = #{platformType,jdbcType=VARCHAR},
            </if>

            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="sessionId != null">
                sessionId = #{sessionId, jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
