<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coder.blog.dao.VisitRecorderDao">

  <select id="selectCount" parameterType="Map" resultType="int">
    select count(*) from visit_record
    <where>
      <if test="ip!=null and ip!=''">
        and ip = #{ip}
      </if>
      <if test="sessionId!=null and sessionId!=''">
        and sessionId = ${sessionId}
      </if>
      <if test="startTime!=null">
        and visit_time <![CDATA[>]]> #{startTime}
      </if>
      <if test="endTime!=null">
        and visit_time <![CDATA[<]]> #{endTime}
      </if>
      <if test="applicationType!=null and applicationType!=''">
        and applicationType=${applicationType}
      </if>
    </where>
  </select>
</mapper>
